<div class="container">
    <h1 style="text-align:center"><%= title%> Me</h1>
    <h2>Cathy Da</h2>
    <img src="../content/images/IMG_1710.jpg" width="250" class="rounded" style="float:left; padding-right:10px;">
    <p style="text-align:left; font-size:larger;">Placeholder text</p>
    <p><a href="../content/Resume.pdf" style="clear:left">Cathy's Resume</a></p>
</div>